# dependencias
node_modules/

# build
dist/
build/

# vite
.vite/
vite.config.ts.timestamp-*

# sistema operativo
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# entorno
.env
.env.local
.env.*.local

# IDE / editores
.vscode/
*.swp
*.swo

# test coverage
coverage/

uploads/